*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0b0c10;
    font-family: Helvetica, Arial, sans-serif;
}

section{
    padding: 20px 40px;
}



/* Header/Nav Styling Start */

header{
    padding: 20px 35px;
    background-color: #1f2833;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:   center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1{
    font-weight: bold;
    margin: 0;
    font-size: 2.0vw;
    flex: 1;
}

header h1 a{
    text-decoration: none;
    color: #66fcf1;
}

header h1 a:hover{
    border-radius: 15px;
    text-shadow: 0 0 10px #45a29e;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 0 25px;
    font-size: 1.4vw;
    text-decoration: none;
    color: #66fcf1;
}

header nav ul li a:hover{
    border-radius: 15px;
    text-shadow: 0 0 10px #45a29e;
}

/* Header/Nav Styling End */

/* About Me Styling Start */


#about-me{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about-me div{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content:left;
    border-left:3px solid #66fcf1;
    background-color: #1f2833;
    color: #66fcf1;
    padding: 10px;
}

.bio{
    margin: 0 20px;
    flex: 1;
    background-color: #1f2833;
    color: #66fcf1;
}

.bio img{
    padding: 25px;
}

.bio article{
    padding: 25px;
    line-height: 1.3;
}

.bio article h3{
    font-size: 28px;
}

.bio article h4{
    color: #c5c6c7;
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.bio article p{
    color: #c5c6c7;
    font-size: 17px;
}

/* About Me Styling End */

/* My Work Styling Start */

#my-work{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow:row;
    justify-content: space-around;
}

#my-work div{
    width: 25%;
    border-right:3px solid #66fcf1;
    background-color: #1f2833;
    color: #66fcf1;
    padding: 10px;
    margin-left: 20px;
    
}

#my-work article{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 0 auto;
}


#my-work article figure{
    font-size: 17px;
    line-height: 1.3;
    padding: 20px;
}


.work-horiseon{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin-left: 20px;
    margin-right: 10px;
    flex: 1.5;
    background-color: #1f2833;
    color: #c5c6c7;
}

.work-horiseon a img{
    width: 50%;
    margin: 10px 0;
}

.work-horiseon a img:hover{
    box-shadow: 0 0 10px #45a29e;
}

.work-run-buddy{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin-left: 10px;
    flex: 1;
    background-color: #1f2833;
    color: #c5c6c7;
}

.work-run-buddy a img{
    width: 75%;
    margin: 20px 0;

}

.work-run-buddy a img:hover{
    box-shadow: 0 0px 10px#45a29e;
}


/* My Work Styling End */

/* Technical Skills Styling Start */

#technical-skills{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow:row-reverse;
    justify-content: space-between;
}

#technical-skills div{
    border-left:3px solid #66fcf1;
    background-color: #1f2833;
    color: #66fcf1;
    padding: 10px;
    margin-left: 20px;
    width: 25%;

}

#technical-skills article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 20px;
    flex: 2;
}

#technical-skills article ul{
    display: flex;
    flex-wrap: wrap;
}

#technical-skills article ul li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1f2833;
    margin-right: 30px;
}

#technical-skills article ul li a{
    text-decoration: none;
    color: #66fcf1;
    font-size: 22px;
    margin: 0 10px;
    padding: 10px;
}

#technical-skills article ul li a:hover{
    border-radius: 15px;
    text-shadow: 0 0 10px #45a29e;
}

/* Technical Skills Style End */

/* Contact Info Style Start */

#contact-info{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-info div{
    border-right:3px solid #66fcf1;
    background-color: #1f2833;
    color: #66fcf1;
    padding: 10px;
    margin: 0 0 0 20px;
}

#contact-info article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f2833;
    padding: 20px;
}

#contact-info article address{
    color: #c5c6c7;
    line-height: 1.3;
    font-size: 17px;
}

#contact-info article address a{
    text-decoration: none;
    color: #66fcf1;
}

#contact-info article address a:hover{
    border-radius: 15px;
    text-shadow: 0 0 10px #45a29e;
}

/* Contact Info Styling End */

/* Footer Styling Start */

footer{
    padding: 20px 35px;
    background-color: #1f2833;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer h2{
    color: #66fcf1;
}
 
/* Footer Styling End */

/* Media Queries */

@media screen and (max-width: 768px) {
    #technical-skills article ul li{
        width: 75%;
    }
}

@media screen and (max-width: 575px){
    #contact-info article{
        margin-left: 20px;
    }
}



